<div class="container top-container">
	<div class="row">
		<div class="col-md-7">
			<h1 class="beam-title">Beam.</h1>
			<p class="beam-body">A new, amazing way to bank.</p>
			
		</div>
		<div class="col-md-4 col-md-push-1">
			<img src="https://brokerage-static.s3.amazonaws.com/assets/marketing/images/home/phone_frame_light.png">
		</div>
	</div>
</div>