<div class="container">
	<div class="row">
		<div class="col-lg-5">
			<div class="panel panel-default">
			  <div class="panel-heading"><h4>Past Pulsd Posts</h4></div>
			  <div class="panel-body">
			    <% @posts.each do |post| %>
						<%= link_to(post.venue, post_path(post.id)) %><br /><br />
			    <% end %>
			  </div>
			</div>
		</div>
	</div>
</div>