<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="well bs-component">
        <%= form_for @post, html: { class: "form-horizontal"}  do |f| %>
				  <fieldset>
            <legend>Legend</legend>
					  <label for="post_venue_name" class="col-lg-2 control-label">Venue</label>
	          <div class="col-lg-10">
					  	<%= f.text_field :venue_name, class: "form-control", placeholder: "Venue" %><br />
					  </div>

					  <label for="post_precis" class="col-lg-2 control-label">Precis</label>
	          <div class="col-lg-10">
					  	<%= f.text_field :precis, class: "form-control", placeholder: "Precis" %><br />
					  </div>

					  <%= f.submit "Submit", class: "btn btn-primary" %>
					 </fieldset>
				<% end %>


        <form class="form-horizontal">
          <fieldset>
            <legend>Legend</legend>
            <div class="form-group">
              <label for="inputEmail" class="col-lg-2 control-label">Email</label>
              <div class="col-lg-10">
                <input type="text" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-lg-2 control-label">Password</label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Checkbox
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Textarea</label>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea"></textarea>
                <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <button class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

